

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 100vh;  
  
    
}

.logo {
    width: 90%;
    height: 23%; 
    align-self: center; 
    margin-top: 1em; 
}

.box{
    height: 100%;
    width: 100%;
    margin-top: 1em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.login {
    align-self: center;
    margin-top: 3em; 
    width: 30%;
    height: 50%;
    border-radius: 83px;
    background-color: #404040;
    
}
@media only screen and (max-width: 1278px) {
    .login {
      
        width: 43.14994606256742vh;
        height:  46.116504854368934vh;
    }
  }
.wrapper {
    
    width: 75%;
    background: #404040;
    margin: 0%;
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
    background-color: #262626;
    display: flex;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    background-color: #404040;
    color: #A6A6A6;
    border-bottom: 2px solid #A6A6A6;
}

.wrapper .input-data label {
    font-size: 20px;
}

.input-data input:focus, .input-data input:focus:hover {
    color: #A6A6A6;
    outline: none;
    outline-color: #A6A6A6;
}

.input-data input:focus~label, .input-data input:valid~label {
    transform: translateY(-40px);
    font-size: 18px;
    color: #A6A6A6;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #A6A6A6;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* */

.form-row {
    width: 75%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
}


.input-btn, .cadastrar-btn {
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
    outline: none;
    background: #404040;
    font-size: 24px;
    color: #A6A6A6;
    border-radius: 20px;
    transition: 500ms;
    
}

.input-btn:hover, .cadastrar-btn:hover {
    background-color: #262626;
    color: #A6A6A6;
    border: 1px;
    border-color: #262626;
    transition: 500ms;
  
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #404040;
    color: white;
    text-align: center;
    font-size: 15px;
 }

