.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin: 0 0 0 0;
}

.logo {
    width: 70%;
    height: 25%;
    margin: 3%;
}

.login {
    /*background-color: #404040;
    width: 603px;
    height: 498px;
    border-radius: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60%;
    border-radius: 83px;
    background-color: #404040;
}

.wrapper {
    width: 450px;
    background: #404040;
    padding: 30px;
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
    background-color: #262626;
    display: flex;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    background-color: #404040;
    color: #A6A6A6;
    border-bottom: 2px solid #A6A6A6;
}

.wrapper .input-data label {
    font-size: 20px;
}

.input-data input:focus, .input-data input:focus:hover {
    color: #A6A6A6;
    outline: none;
    outline-color: #A6A6A6;
}

.input-data input:focus~label, .input-data input:valid~label {
    transform: translateY(-40px);
    font-size: 18px;
    color: #A6A6A6;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #A6A6A6;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* */

.form-row {
    width: 90%;
    height: 50%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-btn, .cadastrar-btn {
    width: 10%;
    height: 13%;
    position: absolute;
    border: none;
    outline: none;
    background: #404040;
    font-size: 24px;
    color: #A6A6A6;
    border-radius: 20px;
    transition: 500ms;
}

.input-btn:hover, .cadastrar-btn:hover {
    background-color: #262626;
    color: #A6A6A6;
    border: 1px;
    border-color: #262626;
    transition: 500ms;
}

.footer {
    color: #A6A6A6;
    align-self: center;
    font-size: 30px;
}