nav a {
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    color: #F2F2F2;
}

nav button {
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    color: #F2F2F2;
}

nav button:hover {
    background-color: #A6A6A6;
    color: black;
}

nav a:hover {
    background-color: #A6A6A6;
    color: black;
}

ul {
    /* background-color: #F2F2F2; */
    list-style: none;
    width: 100%;
}

nav {
    background-color: #404040;
    width: 0px;
    height: 100%;
    margin-top: 10px;
    min-height: calc(100vh - 70px);
    border-top-right-radius: 30px;
    transform: translateX(-150px);
    transition: all .3s;
}

input[type="checkbox"]:checked~nav {
    transform: translateX(0);
    width: 150px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    /* position: absolute; */
    width: 100%;
    height: 50px;
}

#nav-bar-left {
    padding-left: 5px;
}

.logo {
    height: 35px;
}

#icon-menu {
    padding-right: 5px;
}

#check {
    display: none;
}

#search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65%;
    width: 20%;
    /* position: absolute; */
    left: 40%;
    background-color: #F2F2F2;
    border-radius: 50px;
}

#search {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border-radius: 50px;
    border: none;
    background-color: #F2F2F2;
}

#search:focus {
    outline: none;
}

#search-icon {
    height: 70%;
    padding: 0px 15px 0px 10px;
}

#nav-bar-right {
    padding-right: 10px;
}

.flex {
    display: flex;
}

.listas {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.lista {
    margin: 10px;
    background-color: #404040;
    height: 489px;
    width: 360px;
    min-height: 250px;
    min-width: 250px;
    border-radius: 10px;
    overflow: auto;
    flex-wrap: wrap;
}

.lista-header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-nome {
    color: #ffffff;
    width: 199px;
    height: 23px;
    left: 862px;
    bottom: 928px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
}

.lista-tarefas {
    margin-left: 20px;
    margin-right: 20px;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputTarefa {
    position: relative;
    top: 20px;
    background-color: #404040;
    color: white;
    margin-left: 50px;
    margin-right: 20px;
    text-align: center;
    margin-right: 60px;
    border: 1px;
    font-size: large;
}

/*box sizing: border-box mantem responsividade
mesmo mexendo com padding, border,margin*/

/*position desbloqueia top left right bottom
e conseguimos movimentar o nosso elemento*/

.textoTarefa {
    color: #ffffff;
    text-align: center;
    word-break: break-all;
    margin-right: 30px;
    margin-left: 35px;
    text-decoration: none;
}

.lixeira {
    position: relative;
    top: 22px;
    left: 300px;
}

.checkbox {
    position: relative;
    top: 22px;
}

.criaLista {
    font-size: 16px;
    width: 100%;
    border-top-right-radius: 30px;
    border: none;
    background: none;
    text-align: left;
}

.caixaMenu {
    position: relative;
    top: -20px;
    width: 200px;
    height: 110px;
    right: -159px;
    border-radius: 10px;
    background-color: #262626;
}

.caixaMenu button:hover {
    background-color: #A6A6A6;
    color: black;
}

.lixeiraMenu {
    /* position: relative; */
    /* right: 2px;
    top: -13px;*/
    height: 14px;
    padding-left: 10px;
}

.canetaMenu {
    /* position: relative; */
    /* left: -1px;
    top: 0px;*/
    color: #404040;
    height: 12px;
    padding-left: 10px;
}

.menuApagaLista {
    /* position: relative; */
    /* top: -15px; */
    /* right: 0px; */
    border: none;
    width: 80%;
    font-size: 14px;
    padding: 10px 5px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #262626;
}

.menuTrocaNome {
    /* position: relative; */
    /* top: -21px; */
    /* right: -15px; */
    border: none;
    width: 80%;
    font-size: 14px;
    padding: 10px 5px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #262626;
}

.insereTarefa {
    position: relative;
    top: 10px;
    left: 5px;
    width: 200px;
    height: 20px;
    font-size: 15px;
    color: #F2F2F2;
    background-color: #404040;
    border: none;
}

.nomeNovo{
    color:#F2F2F2;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

/* input[type="checkbox"]:checked~#check-tarefa {
    
} */