nav a {
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    color: #F2F2F2;
}

nav a:hover {
    background-color: #A6A6A6;
    color: black;
}

ul {
    /* background-color: #F2F2F2; */
    list-style: none;
    width: 100%;
}

.icon-menu {
    padding: 9px 5px;
    padding-left: 15px;
    z-index: 1;
}

.logo {
    height: 40px;
}

nav {
    background-color: #404040;
    width: 0px;
    margin-top: 10px;
    height: calc(100vh - 50px);
    border-top-right-radius: 30px;
    transform: translateX(-200px);
    transition: all .3s;
}

#check {
    display: none;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(0);
    width: 200px;
}

.toolbar {
    background-color: #404040;
    width: 100%;
    height: 45px;
}