.main {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    
    
    align-items: center;
}
.logo{
    background-color: aliceblue;
    width: 603px;
    height: 250px;
}
.login {
    background-color: #404040;
    width: 603px;
    height: 498px;
    
}

