*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: #EF3A5F;
  --clr-primary-dark: #b60036;
  --clr-secondary: #26374C;
  --clr-black: #2C2C2E;
  --clr-foreground: #F5F5F7;
  --clr-gray-light: #EAEAEC;
  --clr-gray: #C5C5C5;
  --clr-gray-dark: #808082;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
