.TelaDeLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Informacao {
    height: 100vh;
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-secondary);
}

.logo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Descricao {
    font-family: 'Inter', sans-serif;
    display: flex;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.arte1 {
    display: flex;
}

.arte {
    width: 300px;
}

.login-box {
    height: 100vh;
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    background-color: white;
}

.login-titulo {
    display: flex;
    padding: 45% 0px 40px 0px;
    flex-direction: column;
    align-items: center;
}

.login-group {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.login h2 {
    font: bold;
    margin: 15px;
}

.login label {
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 15px;
}

.login input {
    width: 80%;
    height: 100%;
}

.login {
    color: var(--clr-gray-dark);
    background-color: var(--clr-gray-light);
    padding: 5%;
    margin: 5px;
    border-radius: 8px;
}

.registrar {
    font-family: 'Inter', sans-serif;
    padding: 5%;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: var(--fw-bold);
}
