* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

form {
    display: block;
    position: relative;
    width: 70vh;
}

form .form-inner {
    height: 50vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    align-content: space-between;
}

form .form-inner h2 {
    font: bold;
    margin: 15px;
}

form .form-inner .form-group label {
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 12px;
}

form .form-inner .form-group input {
    width: 80%;
    height: 100%;
}

form .form-inner .form-group a {
    font-size: 15px;
    padding-top: 50px;
}

form .input-group {
    color: #808082;
    background-color: #EAEAEC;
    padding: 5%;
    margin: 5px;
    border-radius: 8px;
}

form .form-inner input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #EF3A5F;
    margin-top: 15px;
}

form .form-inner input[type="submit"]:hover {
    background-color: darkred;
}