.btn--auth {
  display: flex;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  text-align: center;
  background-color: var(--clr-primary);
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  font-weight: var(--fw-bold);
}

.btn--auth:hover{
  background-color: var(--clr-primary-dark);
}

.btn--create-list {
  background-color: var(--clr-secondary);
  font-weight: var(--fw-bold);
  font-size: 1em;
  color: var(--clr-gray);
  margin-left: 2em;
  border: 0;
  cursor: pointer;
}

.btn--create-list:hover {
  color: white;
}

.btn--list-add, .btn--list-delete, .btn--task-delete {
  border: 0;
  padding-top: 3px;
  background: none;
  box-shadow: none;
  color: var(--clr-gray-dark);
  cursor: pointer;
}

.btn--task-delete {
  color: white;
}

.btn--list-delete {
  color: var(--clr-gray);
}

.btn--list-add:hover,
.btn--list-delete:hover,
.btn--search-bar:hover,
.btn--task-delete:hover {
  color: var(--clr-primary);
}

.btn--search-bar {
  all: revert;
  border: 0;
  background: var(--clr-white);
  box-shadow: none;
  color: var(--clr-gray-dark);
  cursor: pointer;
}
