.task-container {
  height: 200px;
  overflow: hidden;
  margin: 1em 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  position: relative;
}

.tasks {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
}
