.TelaDeLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Informacao {
    height: 100vh;
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #26374C;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Descricao {
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-size: xx-large;
}

.arte1 {
    display: flex;
}

.login {
    height: 100vh;
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

.login-titulo {
    display: flex;
    padding: 45% 0px 40px 0px;
    flex-direction: column;
    align-items: center;
}

.login-group {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.login .form-inner h2 {
    font: bold;
    margin: 15px;
}

.login .form-inner .form-group label {
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 15px;
}

.login .form-inner .form-group input {
    width: 80%;
    height: 100%;
}

.login .input-group {
    color: #808082;
    background-color: #EAEAEC;
    padding: 5%;
    margin: 5px;
    border-radius: 8px;
}

button {
    display: flex;
    padding: 10px 15px;
    border-radius: 8px;
    color: #FFFFFF;
    text-align: center;
    background-color: #EF3A5F;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}

button:hover{
    background-color: darkred;
    }

.registrar {
    padding: 5%;
}